.zone{
    border-radius:4px;
    /*border:1px solid #bbb;*/
    transition: all 0.3s linear;
}

.blues {
    background-color: #EEEEEE;
}
.pro{
    background-color: #70dbdb;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

.responsive{
  width: 100%;
  max-width: 500px;
  height: auto;
}