.center {
	display: flex;
	justify-content: center;
}

.particle {
	position: fixed;
	z-index: -1;
	bottom: 0px;
	top:0px;
	right: 0px;
	left:0px;
}
.line {
	display:flex;
	position:relative;
	height:auto;
	width:auto;
	justify-content: space-between;
}